body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.containerEmpresas {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.content-box {
    padding: 20px 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

    .content-box:hover {
        transform: scale(1.02);
    }

h2 {
    color: #76B041;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 30px;
}

    h2::after {
        content: '';
        width: 50px;
        height: 3px;
        background-color: #76B041;
        display: block;
        margin: 8px auto 0;
        border-radius: 5px;
    }

.form-group label {
    font-weight: 600;
    color: #333;
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    font-size: 1rem;
    line-height: 1.5;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    .form-control select {
        appearance: none; 
        height: auto;
        padding: 10px 8px;
        line-height: 1.5; 
        font-size: 1rem;
    }

    .form-control:focus {
        border-color: #76B041;
        box-shadow: 0 0 8px rgba(118, 176, 65, 0.2);
    }

input[type="text"],
input[type="number"],
select,
button,
textarea {
    font-size: 1.2rem;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

select {
    height: auto;
    line-height: 1.5;
    appearance: none;
}

    select option {
        font-size: 1.2rem;
    }

    input:focus,
    select:focus,
    textarea:focus {
        border-color: #76B041;
        box-shadow: 0 0 8px rgba(118, 176, 65, 0.2);
    }

button, .btn-primary, .btn-secondary {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-primary {
    background-color: #76B041;
    border-color: #76B041;
    color: #fff;
}

    .btn-primary:hover {
        background-color: #5e9134;
        transform: scale(1.05);
    }

.btn-secondary {
    background-color: #555;
    border-color: #555;
    color: #fff;
}

    .btn-secondary:hover {
        background-color: #333;
        transform: scale(1.05);
    }

#ddlLanguage {
    position: fixed;
    bottom: 15px; 
    right: 15px; 
    z-index: 1000;
    padding: 5px 10px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    display: inline-block;
}

    #ddlLanguage option {
        color: #333;
    }

.text-danger {
    color: #a94442;
}