body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.login-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    max-width: 80px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}

    .form-control:focus {
        border-color: #76B041;
        box-shadow: 0 0 8px rgba(118, 176, 65, 0.5);
        outline: none;
    }

.btn {
    width: 100%;
    padding: 10px;
    background-color: #76B041; /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho */
}

    .btn:hover {
        background-color: #5e8e33; /* Verde más oscuro */
    }

.message-label {
    color: #a94442;
    border-radius: 4px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}