/* Fondo general y fuentes */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f4f4f9;
    margin: 0;
}

.containerCompras {
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2.text-center {
    font-size: 28px;
    color: #6AB547;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Estilos para la tabla */
.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin: 20px 0;
}

.table-header {
    background-color: #6AB547;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
}

.table-row, .table-alt-row {
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.table-alt-row {
    background-color: #f8f8f8;
}

    .table-row:hover, .table-alt-row:hover {
        background-color: #eaf5ea;
    }

.btn-primary {
    background-color: #6AB547;
    border: none;
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

    .btn-primary:hover {
        background-color: #4a8c38;
        transform: scale(1.05);
    }

/* Modal */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    background-color: #6AB547;
    color: white;
    border-bottom: none;
}

.modal-body {
    font-size: 16px;
}

.close {
    color: white;
}

.modal-footer .btn-secondary {
    background-color: #6c757d;
    color: white;
}

    .modal-footer .btn-secondary:hover {
        background-color: #5a6268;
    }

#ddlLanguage {
    position: fixed;
    bottom: 15px; /* Separación desde la parte inferior */
    right: 15px; /* Separación desde el borde derecho */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    padding: 5px;
    font-size: 14px;
    background-color: #fff; /* Fondo blanco para mejor visibilidad */
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

    #ddlLanguage option {
        color: #333;
    }

.text-danger {
    color: #a94442;
}