body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

.container-registro {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #2b2b2b;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

    .form-group label {
        font-size: 14px;
        color: #2b2b2b;
        display: block;
        margin-bottom: 8px;
    }

.form-control {
    width: 100%;
    max-width: 100%;
    white-space: normal;
    overflow: visible;
}

    .form-control:focus {
        border-color: #6dbb4d;
        background-color: #fff;
        outline: none;
        box-shadow: 0 0 5px rgba(109, 187, 77, 0.5);
    }

.input-container {
    display: flex;
    align-items: center;
}

    .input-container input {
        flex: 1;
    }

.calendar-button {
    margin-left: 10px;
    font-size: 16px;
}

    .calendar-button:hover {
        color: #6dbb4d;
    }

.button-group {
    text-align: center;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary {
    background-color: #6dbb4d;
    color: #ffffff;
}

    .btn-primary:hover {
        background-color: #5ca441;
    }

.message-label {
    color: #2b2b2b;
    text-align: center;
    font-size: 16px;
}

.generate-password-button {
    margin-left: 10px;
    background-color: #6dbb4d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .generate-password-button:hover {
        background-color: #5ca441;
    }

.error-message {
    color: #a94442;
    font-size: 0.9rem;
    margin-top: 5px;
    display: none;
}

#ddlLanguage {
    position: fixed;
    bottom: 15px; 
    right: 15px;
    z-index: 1000;
    padding: 5px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

    #ddlLanguage option {
        color: #333;
    }

.text-danger {
    color: #a94442;
}