body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding-top: 50px;
}

.container.body-content {
    margin-top: 50px;
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: #777;
}

    footer p {
        margin: 0;
        padding: 20px 0;
    }